@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a .Net 5 Web project</p>
	<p><strong>THIS IS UPDATED</strong></p>
</div>
